<h1>Formulario</h1>
<div>
    <form>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text"id="name"name="name"required/>
        </div>
        <div class="form-group"> 
            <label for="lastname">Lastname:</label>
            <input type="text"id="lastname"name="lastname"required/>
        </div>
        <div class="form-group"> 
            <label for="email">Email:</label>
            <input type="email"id="email"name="email"required/>
        </div>
        <div>
            <button type="submit">Continue</button>
        </div>
    </form>
</div>